<div id="sleep" class="full">
    <video autoplay muted loop preload="auto">
        <source src="/static/videos/PortraitAnniversary.webm" type="video/webm">
    </video>
</div>

<div id="live" class="full">
    <div class="widget-container">
        <div class="widget_blank titleBox">
            <h1 id="jobTitle"></h1>
            <div id="scrollTitle" class="scrollingText">
                <h1 id="jobTitle1"></h1>
                <h1 id="jobTitle2"></h1>
            </div>
        </div>
        <div class="widget thumbnailBox">
            <div class="thumbnailBox">
                <img id="thumbnail" src="" alt="Print Thumbnail"></img>
            </div>
        </div>
        <div class="widget infoBox">
            <div class="info-container">
                <div class="info-item">
                    <img src="/static/icons/Nozzle.svg" alt="Nozzle" class="info-icon">
                    <div class="info-label">
                        <h2 id="nozzleDiameter" class="info-value">---</h2>
                        <h2 id="nozzleUnit" class="info-unit"></h2>
                    </div>
                </div>
                <div class="info-item">
                    <img src="/static/icons/FilamentSpool.svg" alt="Filament Spool" class="info-icon">
                    <div class="info-label">
                        <h2 id="filamentType" class="info-value">---</h2>
                    </div>
                </div>
                <div class="info-item">
                    <img src="/static/icons/LayerHeight.svg" alt="Layer Height" class="info-icon">
                    <div class="info-label">
                        <h2 id="layerHeight" class="info-value">---</h2>
                        <h2 id="layerUnit" class="info-unit"></h2>
                    </div>
                </div>
                <div class="info-item">
                    <img src="/static/icons/Time.svg" alt="Time" class="info-icon">
                    <div class="info-label">
                        <h2 id="timeString" class="info-value">---</h2>
                    </div>
                </div>
                <div class="info-item">
                    <img src="/static/icons/InputShaping.svg" alt="Input Shaping" class="info-icon">
                    <div class="info-label">
                        <h2 id="ISLabel" class="info-value">---</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget progressBox">
            <div id="progressShadow">
                <div id="progressNotices">
                    <h2 id="percent">---</h2>
                    <h2 id="timeRemaining">---</h2>
                    <h2 id="timeElapsed">---</h2>
                    <h2 id="percent1">---</h2>
                </div>
            </div>
            <div id="textHide">
                <div class="progress-bar">
                    <div class="progress-bar-fill"></div>
                </div>
            </div>
        </div>
        <div class="widget_blank fanSpeedBox">
            <div class="thirds">
                <div class="widget">
                    <div class="smallWidget">
                        <h3 class="smallTitle">hotend fan</h3>
                        <h1 class="mediumValue" id="hotendFan">---</h1>
                        <h3 class="smallUnit">rpm</h3>
                    </div>
                </div>
                <div class="widget">
                    <div class="smallWidget">
                        <h3 class="smallTitle">speed</h3>
                        <h1 class="mediumValue" id="speed">---</h1>
                    </div>
                </div>
                <div class="widget">
                    <div class="smallWidget">
                        <h3 class="smallTitle">print fan</h3>
                        <h1 class="mediumValue" id="printFan">---</h1>
                        <h3 class="smallUnit">rpm</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget_blank tempBox">
            <div class="tempsSplit">
                <div class="widget" id="heatNozzle">
                    <div class="tempsBoxContainer">
                        <div class="tempGraphSplit" id="nozzleStable">
                            <div class="tempsBox">
                                <div class="tempTitle" id="nozzleTitle">nozzle</div>
                                <div class="tempValue" id="nozzleTemp">---°</div>
                                <div class="tempTarget" id="nozzleTarget">/ ---°</div>
                            </div>
                            <div class="tempGraph">
                                <canvas id="nozzleChart"></canvas>
                            </div>
                        </div>
                        <div class="tempGraphSplit" id="nozzleHeating">
                            <div class="heatingAnimation" id="nozzleHeating1"></div>
                            <div class="heatingAnimation" id="nozzleHeating2"></div>
                            <div class="heatingAnimation" id="nozzleHeating3"></div>
                            <div class="heatingAnimation" id="nozzleHeating4"></div>
                            <div class="heatingAnimation" id="nozzleHeating5"></div>
                            <div class="tempsBox">
                                <div class="tempTitle darkTemp" id="darkNozzleTitle">nozzle</div>
                                <div class="tempValue darkTemp" id="darkNozzleTemp">---°</div>
                                <div class="tempTarget darkTemp" id="darkNozzleTarget">/ ---°</div>
                            </div>
                            <div class="tempGraph">
                                <canvas id="darkNozzleChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget" id="heatBed">
                    <div class="tempsBoxContainer">
                        <div class="tempGraphSplit" id="bedStable">
                            <div class="tempsBox">
                                <div class="tempTitle" id="bedTitle">bed</div>
                                <div class="tempValue" id="bedTemp">---°</div>
                                <div class="tempTarget" id="bedTarget">/ ---°</div>
                            </div>
                            <div class="tempGraph">
                                <canvas id="bedChart"></canvas>
                            </div>
                        </div>
                        <div class="tempGraphSplit" id="bedHeating">
                            <div class="heatingAnimation" id="bedHeating1"></div>
                            <div class="heatingAnimation" id="bedHeating2"></div>
                            <div class="heatingAnimation" id="bedHeating3"></div>
                            <div class="heatingAnimation" id="bedHeating4"></div>
                            <div class="heatingAnimation" id="bedHeating5"></div>
                            <div class="tempsBox">
                                <div class="tempTitle darkTemp" id="darkBedTitle">bed</div>
                                <div class="tempValue darkTemp" id="darkBedTemp">---°</div>
                                <div class="tempTarget darkTemp" id="darkBedTarget">/ ---°</div>
                            </div>
                            <div class="tempGraph">
                                <canvas id="darkBedChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget_blank machineInfoBox">
            <div class="footerInfo">
                <div class="widget">
                    <div class="nameSplit">
                        <h2 class="largeFooterLabel" id="printerName">----</h2>
                        <h2 class="smallFooterLabel" id="firmwareVersion">FW ---</h2>
                    </div>
                </div>
                <div class="widget">
                    <div class="dateSplit">
                        <h2 id="dow">-----</h2>
                        <div class="stackedDate">
                            <h3 id="date">-- -</h3>
                            <h2 id="year">----</h2>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <h2 class="mediumFooterLabel" id="currentTime">---- --</h2>
                </div>
            </div>
        </div>
    </div>
</div>
